
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<form action="/Home/Parametry2" method="post">
    <input type="text" name="Tytul" id="Tytul" />

    <input type="text" name="Autor" id="Autor" />

    <input type="text" name="Cena" id="Cena" />

    <input type="submit" value="Wyslij" />
</form>
