
@{
    ViewBag.Title = "Index";
}

<script>
    $(document).ready(function () {
        wyswietlMape("mapa");
    });
</script>

<h2> ViewBag.Title</h2>

<div>
    <p>
        @Html.Label("Miejsce wyjazdu");
        @Html.TextBox("Miejsce wyjazdu", null, new { id = "Text1"})
    </p>
    <p>
        @Html.Label("Miejsce docelowe");
        @Html.TextBox("Miejsce docelowe", null, new { id = "Text2" })
    </p>
    <p>
        <input id="Button1" type="button" value="Wyznacz trasę"
               onclick="wyznaczTrase('Text1', 'Text2');" />
    </p>
</div>

<div id="mapa" style="position: relative; width: 400px; height: 400px;"></div>