@{
    ViewBag.Title = "Home Page";
}

<h2>Panel Administracyjny</h2>

<p>
    @Html.ActionLink("Zarządzaj użytkownikami", "Uzytkownicy")
</p>

<p>
    @Html.ActionLink("Zarzadzaj grupami uzytkownikow", "Grupy")
</p>