@model ASP_TEORIA.Models.Kursy

@{
    ViewBag.Title = "Index2";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>Index2</h2>


<div>
    <ul>
        @Model.Nazwa - @Model.Opis
    </ul>
</div>

@section skrypty
{
    <script src="~/"></script>
}